body {
    font-family: "roboto", sans-serif;
    margin: 0;
}

.wrapper {
    padding: 0;
    margin: 0;
    font-weight: bold;  
}

#navLogo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

#first {
    display: flex;
    flex-direction: column;
    align-items: column; /* center -> column*/ 
    justify-content: space-around;
    padding: 1rem 14rem 7rem; /*added*/
    gap: 7rem; /*added*/
    /* REMOVE
    font-size: 24px;
    color: #F9FAF8; 
    */
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    margin: 0;
    padding: 0;

    /* REMOVE
    display: flex;
    font-size: 18px;
    gap: 16px; 
    color: #E5E7Eb;
    */
 } 

.hero,
#first  {
    background-color: #1F2937;
    color: white;
    border: 0;
    flex: 1;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem; /*added*/
    flex: 1;
    /* REMOVE
    flex-wrap: nowrap;
    padding: 8px;
    margin-bottom: 64px;
    flex: 1;
    */
}


#heroLeft h2 {
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    /* REMOVE
    display: flex;
    flex-flow: column wrap;
    max-width: 300px;
    justify-content: space-around;
    */
}


#heroRight {
    display: flex;
    flex: 1;
}

#heroRight img {         /* Added */
    flex: 2;             /* Added */
    border-radius: 7px;  /* Added */
    
}

/* REMOVE 
h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0;
}
*/

/* REMOVE
div {
    font-size: 18px;
    color: #E5E7EB;
}*/


.signUp {
    padding-inline: 30px; /* added */
    padding-block: 7px;   /* added*/
    outline: none;       /* added */
    border-radius: 7px;
    font-weight: bold;
    color: white;
    background-color: #3882F6;
    border: 2px solid blue; /* added */ 
    flex-shrink: 0;
    /* REMOVE
    justify-content: center;
    align-items: center; 
    height: 5px;
    width: 125px;
    display: flex;
    padding: 15px;
    */
}

#second {
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: space-around;
    padding: 1rem 14rem 7rem;
    
}

#headerText {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 4rem;
}

.subtext {
    display: flex;
    justify-content: center;
    padding-left: 2px;
    color: #808487;
    margin-top: 5px;
    margin-right: 0;
    padding-right: 0;
}

.secondImage {
    border-radius: 14px;
    border: 5px  solid #3882F6; 
}

.informationNav {
    display: flex;
    flex-direction: column.
    gap: 45px;
    justify-content: center;
}

#third {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 6rem
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#quoteText{
    max-width: 1075px;
    font-size: 36px;
    font-weight: 321;    
    color: #1f2937; 

}

p#quoteName {
    display:flex;
    justify-content: flex-end;

}

#quote {
    display: flex;
}

#fourth {
    display:flex;
    justify-content: center;
    padding: 5rem;
}

.signUp-section {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-content: center;
    border-radius: 8px;
    padding: 2rem 12rem 2rem 12rem;
}

.textSignup {
    display: flex;
    gap: 5rem  
}

div#signUpWords {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
}

div.textSignup {
    gap:
}

.textSignup button.signUp {
    border: 2px solid white;
}

#fith {
    display: flex;
    justify-content: center;
    align-content: center;
}
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-content: center;
    padding: 24px; 
    font-size: 12px;
}